/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
  border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
  border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
  background: #f16529;
}

.title {
  color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: #e44d26;
}

nav a:hover,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 2em;
}

.main aside {
  color: white;
  padding: 0px 5% 10px;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.page {
  overflow: hidden;
  position: relative;
}

/* Menu wrapper */

.fm-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 30px;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(10, 10, 10, 0.97);
  z-index: 2000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fm-wrapper-sub {
  display: table;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -o-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
}

.fm-wrapper-sub.js-active {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.fm-wrapper-sub-sub {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.fm-menu-links,
.fm-menu-links ul {
  margin: 0;
  padding: 10px 0;
  line-height: 1.3;
  text-align: center;
}

.fm-menu-links ul.fm-sub {
  padding: 0;
}

.fm-menu-links a {
  display: block;
  position: relative;
  margin: 0;
  padding: 15px 20px;
  color: #999;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  z-index: 11;
}

.no-touch .fm-menu-links a:hover,
.fm-menu-links a:active,
.fm-menu-links li.js-opened > a {
  color: #d5d5d5;
  text-decoration: none;
}

.fm-menu-links li {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.fm-menu-links li > a:active,
.fm-menu-links li.active > a,
.fm-menu-links li a.active {
  color: #f5f5f5;
}

.fm-menu-links li.js-opened:before {
  display: none;
}

.no-touch .fm-menu-links li.js-opened > a:hover,
.fm-menu-links li.js-opened > a:active {
  color: #fff;
}

.fm-has-sub .fa {
  font-size: 14px;
}

.js-opened > .fm-has-sub > .fa {
  color: #fff;
}

.fm-sub {
  display: none;
  opacity: 0;
  position: relative;
}

.fm-sub > li > a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 400;
}

.fm-menu-links li.js-opened .fm-sub {
  opacity: 1;
}



/* Social links */

.fm-social-links {
  padding: 10px;
  font-size: 14px;
  text-align: center;

  > a {
    display: inline-block;
    margin: 0 2px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    text-align: center;
    text-decoration: none;
    color: #555;
    -webkir-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);

    &:hover {
      border-color: rgba(255, 255, 255, 0.3);
      color: #999;
    }
  }
}

/* ==============================
   Home sections
   ============================== */

/*
 * Header common styles
 */

.home-section {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-content {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Home content */

.home-content {
  position: relative;
}

.home-text {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */

  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }

  nav li:first-child a {
    margin-left: 0;
  }

  nav li:last-child a {
    margin-right: 0;
  }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */

  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */

  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }

  /* ============
      WIDE: Menu
     ============ */

  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }

  /* ============
      WIDE: Main
     ============ */

  .main article {
    float: left;
    width: 57%;
  }

  .main aside {
    float: right;
    width: 28%;
  }
}

@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */

  .wrapper {
    width: 1026px;

    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}