//colors
$color-black: #000000;
$color-celeste: #cccccc;
$color-flamingo: #f16529;
$color-fuscous-gray: #555555;
$color-log-cabin: #222222;
$color-mountain-mist: #999999;
$color-pomegranate: #e44d26;
$color-quill-gray: #d5d5d5;
$color-sail: #b3d4fc;
$color-silver-chalice: #aaaaaa;
$color-white: #ffffff;
$color-wild-sand: #f5f5f5;
$color-woodsmoke: #111111;


$color-cod-gray-97: rgba(10, 10, 10, 0.97);
$color-log-cabin-50: rgba($color-log-cabin, 0.5);
$color-white-15: rgba($color-white, 0.15);
$color-white-30: rgba($color-white, 0.3);