.fm-menu-links, .fm-menu-links ul {
  line-height: 1.3;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

html {
  color: #222222;
  font-size: 1em;
  height: 100%;
  line-height: 1.4;
  overflow-y: scroll;
}

::-moz-selection,
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  border: 0;
  border-top: 1px solid #cccccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  background: #cccccc;
  color: #000000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  height: 100%;
}

.wrapper {
  margin: 0 5%;
  width: 90%;
}

.header-container {
  background: #f16529;
  border-bottom: 20px solid #e44d26;
}

.footer-container {
  background: #f16529;
  border-top: 20px solid #e44d26;
}

.footer-container footer {
  color: #ffffff;
  padding: 20px 0;
}

.main {
  padding: 30px 0;
}

.main aside {
  background: #f16529;
  border-top: 20px solid #e44d26;
  color: #ffffff;
  padding: 0 5% 10px;
}

.main article h1 {
  font-size: 2em;
}

.title {
  color: #ffffff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  background: #e44d26;
  color: #ffffff;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
  text-decoration: underline;
}

nav a:visited {
  color: #ffffff;
}

.page {
  overflow: hidden;
  position: relative;
}

.fm-wrapper {
  background: rgba(10, 10, 10, 0.97);
  box-sizing: border-box;
  display: none;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 50px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.fm-wrapper-sub {
  display: table;
  height: 100%;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  width: 100%;
}

.fm-wrapper-sub.js-active {
  opacity: 1;
  transform: translateY(0);
}

.fm-wrapper-sub-sub {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.fm-menu-links ul.fm-sub {
  padding: 0;
}

.fm-menu-links a {
  color: #999999;
  cursor: pointer;
  display: block;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  padding: 15px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  z-index: 11;
}

.fm-menu-links a:active {
  color: #d5d5d5;
  text-decoration: none;
}

.fm-menu-links li {
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.fm-menu-links li.js-opened > a {
  color: #d5d5d5;
  text-decoration: none;
}

.fm-menu-links li.js-opened > a:active {
  color: #ffffff;
}

.fm-menu-links li.js-opened::before {
  display: none;
}

.fm-menu-links li.js-opened .fm-sub {
  opacity: 1;
}

.fm-menu-links li > a:active {
  color: #f5f5f5;
}

.fm-menu-links li a.active {
  color: #f5f5f5;
}

.fm-menu-links li a.active > a {
  color: #f5f5f5;
}

.fm-sub {
  display: none;
  opacity: 0;
  position: relative;
}

.fm-sub > li > a {
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.fm-social-links {
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.fm-social-links > a {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  color: #555555;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  margin: 0 2px;
  text-align: center;
  text-decoration: none;
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  width: 34px;
}

.fm-social-links > a:hover {
  border-color: rgba(255, 255, 255, 0.3);
  color: #999999;
}

.home-section {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.home-content {
  display: table;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}

.home-text {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
}

@media only screen and (min-width: 480px) {
  nav a {
    float: left;
    margin: 0 1.7%;
    margin-bottom: 0;
    padding: 25px 2%;
    width: 27%;
  }
  nav li:first-child a {
    margin-left: 0;
  }
  nav li:last-child a {
    margin-right: 0;
  }
  nav ul li {
    display: inline;
  }
  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {
  .header-container {
    box-shadow: 0 5px 10px #aaaaaa;
  }
  .main aside {
    box-shadow: 0 5px 10px #aaaaaa;
    float: right;
    width: 28%;
  }
  .main article {
    float: left;
    width: 57%;
  }
  .title {
    float: left;
  }
  nav {
    float: right;
    width: 38%;
  }
}

@media only screen and (min-width: 1140px) {
  .wrapper {
    margin: 0 auto;
    width: 1026px;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::after, .clearfix::before {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.ie7 .title {
  padding-top: 20px;
}

.no-touch .fm-menu-links a:hover {
  color: #d5d5d5;
  text-decoration: none;
}

.no-touch .fm-menu-links li.js-opened > a:hover {
  color: #ffffff;
}

.fm-has-sub .fa {
  font-size: 14px;
}

.js-opened > .fm-has-sub > .fa {
  color: #ffffff;
}

#top {
  background: #ffffff;
  height: 15px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  z-index: 9999999999999999;
}

#bottom {
  background: #ffffff;
  bottom: 0;
  height: 15px;
  left: 0;
  position: fixed;
  right: 0;
  width: auto;
  z-index: 9999999999999999;
}

#left {
  background: #ffffff;
  bottom: 0;
  height: auto;
  left: 0;
  position: fixed;
  top: 0;
  width: 15px;
  z-index: 9999999999999999;
}

#right {
  background: #ffffff;
  bottom: 0;
  height: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 15px;
  z-index: 9999999999999999;
}

.bg-video-wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.bg-video-wrapper video {
  height: inherit;
  max-width: inherit;
  z-index: 0;
}

.bg-video-overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bg-video-overlay::before {
  background: rgba(34, 34, 34, 0.5);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.home_logo {
  margin: 10%;
  max-height: 150px;
}

.fm-button {
  background: #111111;
  border-radius: 50%;
  display: block;
  height: 54px;
  opacity: .85;
  position: fixed;
  right: 30px;
  text-indent: -12345px;
  top: 30px;
  transition: opacity 0.27s cubic-bezier(0, 0, 0.58, 1);
  width: 54px;
  z-index: 1030;
}

.fm-button:hover {
  opacity: 1;
}

.fm-button span {
  background: #ffffff;
  display: block;
  height: 4px;
  left: 50%;
  margin: -2px 0 0 -16px;
  position: absolute;
  top: 50%;
  transition: all 0.07s cubic-bezier(0, 0, 0.58, 1);
  width: 32px;
}

.fm-button span::after, .fm-button span::before {
  background: #ffffff;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: -8px;
  transition: top 0.07s cubic-bezier(0, 0, 0.58, 1), bottom 0.07s cubic-bezier(0, 0, 0.58, 1), transform 0.2s cubic-bezier(0, 0, 0.58, 1) 0.07s;
  width: 100%;
}

.fm-button span::after {
  bottom: -8px;
  top: auto;
}

.fm-button.active {
  background: #222222;
  z-index: 2001;
}

.fm-button.active span {
  transform: rotate(90deg);
}

.fm-button.active span::before {
  left: 38%;
  top: 0;
  transform: rotate(90deg);
  width: 69%;
}

.fm-button.active span::after {
  left: 0;
  top: 0;
  transform: rotate(50deg);
  width: 60%;
}
